* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    height: 100vh;
    background: no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp{
    display: inline-block;
    padding: 3px;
    /* background: linear-gradient(130deg, #2c3a47, #828990); */
    background-image: linear-gradient(90deg, red, blue);
    margin: auto;
    border-radius: 50%;
    background-size: 0% 1px;
    background-repeat: repeat-y;
    background-position: left bottom;
    text-decoration: none;
}

.pfp:hover {
    background-size: 100% 1px;
}

.pfp img{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-card{
    /* backdrop-filter: blur(5px); */
    width: 300px;
    text-align: center;
    border-radius: 10px;
    background: transparent;
    /* border: 3px solid whitesmoke; */
    overflow: hidden;
}

.card-header{
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(5px);
    margin: 0 0;
    border: 2px solid whitesmoke;
    padding: 50px 0px;
}

.socials {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.socials a{
    color: #fff;
    width: 3vh;
    font-size: 10px;
    transition: .3s linear;
}

.socials a:hover{
    color: rgb(101, 104, 255);
}

.card-footer{
    background: #4b5762;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid whitesmoke;
    background: transparent;
    padding: 5px 5px;
    /* height: 90px; */
}

.more-tags {
    /* margin: 5vh 1vh; */
    /* border: 0.1vh solid white; */
    margin-top: 30px;
}

.more {
    padding: 0.25vh 0.5vh;
    border: 0.1vh;
    /* background-color: whitesmoke; */
    background-image: linear-gradient(90deg, rgb(187, 128, 213), white);
    backdrop-filter: blur(100px);
    color: white;
    border-radius: 1vh;
    margin: 0 0.25vh;
    background-size: 0% 1px;
    /* background-position: bottom; */
}

.more:hover {
    color: rgb(101, 104, 255);
}